<div class="col-md-12  " style="width:950px; height: 400px" >
  <form class="form-group" (ngSubmit)="onAddC()" autocomplete="off" #monFormulairej = ngForm>
<nb-card>
<nb-card-body>
      
                 
      <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="fullname"> fullname:</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control"     [(ngModel)]="classe.fullname"  required   name="fullname" />
           
        </div>
         
      </div>
                 
      <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3  input-group-lg">
          <label for="label"> label:</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control"  [(ngModel)]="classe.label"  required   name="label" />
           
        </div>
         
      </div>
         
   
       
     
         
    
      
</nb-card-body>
</nb-card>
<div style="text-align:right;">
<button nbButton hero status="success" type="submit"  [disabled]=!monFormulairej.valid >{{A}}</button>
<button nbButton hero status="warning" (click)="fermer();" style="margin-left: 30px;">Return</button>
</div>
  </form>
</div>