<div class="col-md-12 col-lg-12" style="width:950px; height: 410px">
  <!--
   <form class="form-group" #myForm ngForm="myForm">
  -->
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
              <div class="row full-name-inputs">
                <div class="input-group col-md-2 col-lg-2 input-group-sm">
                  <input type="text" placeholder="id" class="form-control"
                         [(ngModel)]="etudiant.id" disabled/>
                </div>
                <div class="input-group col-md-6 col-lg-6 input-group-sm">
                  <input type="text" placeholder="nom" class="form-control"
                         [(ngModel)]="etudiant.nom" disabled/>
                </div>
              <div class="input-group col-md-6 col-lg-6 input-group-sm">
                <input type="text" placeholder="prenom" class="form-control"
                       [(ngModel)]="etudiant.prenom" disabled/>
              </div>
              
            </div>
            <div class="row full-name-inputs">
              <div class="input-group col-md-6 col-lg-6 input-group-sm">
                <input type="text" placeholder="email" class="form-control"
                       [(ngModel)]="etudiant.email" disabled/>
              </div>
            <div class="input-group col-md-6 col-lg-6 input-group-sm">
              <input type="text" placeholder="date" class="form-control"
                     [(ngModel)]="etudiant.date" disabled/>
            </div>
            <div class="input-group col-md-6   input-group-sm">
              <ng-select placeholder="Choisir..."
              [items]="classes" 
              bindLabel="id" 
              autofocus
              style="width: 150%" 
             [(ngModel)]="etudiant.classe"
             name="plan"
             disabled
              >
             </ng-select>  
            </div>
            ng xi18n
          </div>

            <div style="text-align:right;">
                
                <button nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;" (click)="fermer()">Return</button>
              </div> 
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>    