<div class="col-md-12 col-lg-12" style="width:950px; height: 410px">
    <!--
     <form class="form-group" #myForm ngForm="myForm">
    -->
      <div class="row">
        <div class="col-lg-12">
          <nb-card>
            <nb-card-body>
                <div class="row full-name-inputs">
                <div class="input-group col-md-6 col-lg-6 input-group-sm">
                  <input type="number" placeholder="Nombre de Cartons" class="form-control"
                         [(ngModel)]="demande.nombreCartons"/>
                </div>
                <div class="input-group col-md-6 col-lg-6 input-group-sm">
                  <input type="number" placeholder="Poids de Cartons" class="form-control"
                         [(ngModel)]="demande.poidsCartons"/>
                </div>
              </div>
    
              <div class="row full-name-inputs">
                <div class="input-group col-md-4 col-lg-4 input-group-sm">
                  <input type="number" placeholder="Longeur" class="form-control"
                         [(ngModel)]="demande.longueur"/>
                </div>
                <div class="input-group col-md-5 col-lg-5 input-group-sm">
                  <input type="number" placeholder="Largeur" class="form-control"
                         [(ngModel)]="demande.largeur"/>
                </div>
                <div class="input-group col-md-3 col-lg-3 input-group-sm">
                  <input type="number" placeholder="Hauteur" class="form-control"
                         [(ngModel)]="demande.hauteur"/>
                </div>
              </div>
    
              <div class="row full-name-inputs">
                <div class="input-group col-md-7 col-lg-7 input-group-sm">
                  <input type="text" placeholder="Nature" class="form-control"
                         [(ngModel)]="demande.nature"/>
                </div>
                <div class="input-group col-md-5 col-lg-5 input-group-sm">
                  <input nbInput placeholder="Date d'envoi" class="form-control" [nbDatepicker]="dateEnvoi"
                       [(ngModel)]="demande.dateEnvoi"/>
                <nb-datepicker #dateEnvoi></nb-datepicker>
              </div>
            </div>
    
              <div class="row full-name-inputs">
                  <div class="input-group col-md-12 col-lg-12 input-group-sm">
                      <textarea rows="8" placeholder="Description" class="form-control"
                      [(ngModel)]="demande.description"></textarea>
              </div>
              </div>
              <div style="text-align:right;">
                  <button nbButton #Ajouter style="cursor: pointer;margin: 0.5rem;align-content: center;"
                          (click)="onAddM()" >{{A}}</button>
                  <button nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;">Annuler</button>
                </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>    