@import '../../../@theme/styles/themes';
@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
 nb-card-body {
   overflow: visible;
 }
 .input-group {
   margin-bottom: 1rem;
 }
 .validation-checkboxes {
   display: flex;
   justify-content: space-between;
   .custom-control {
     margin-left: 1rem;
   }
 }
 .demo-checkboxes {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }
 .demo-radio {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }
 .demo-disabled-checkbox-radio {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }
 .demo-checkboxes-radio {
   display: flex;
   justify-content: space-between;
 }
 .demo-rating {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .star {
   font-size: 1.5rem;
   color: nb-theme(color-fg);
 }
 .filled {
   color: nb-theme(color-fg);
 }
 .rating-header {
   line-height: 2rem;
   font-size: 1.25rem;
   font-family: nb-theme(font-secondary);
   font-weight: nb-theme(font-weight-bolder);
   color: nb-theme(color-fg-heading);
 }
 .current-rate {
   font-size: 1.5rem;
   @include nb-ltr(padding-left, 1rem);
   @include nb-rtl(padding-right, 1rem);
   color: nb-theme(color-fg-heading);
 }
 .full-name-inputs {
   display: flex;
   padding-bottom: 2rem;
 }
 .input-group.has-person-icon {
   position: relative;
   .form-control {
     padding-left: 3rem;
   }
   &::before {
     content: '\F47D';
     font-family: 'Ionicons';
     font-size: 2rem;
     position: absolute;
     z-index: 100;
     left: 1rem;
     top: 0.25rem;
   }
 }
 .dropdown {
   min-width: 7rem;
 }
 .dropdown-menu {
   width: auto;
 }
 .form-group label {
   padding: 0 0 0.75rem;
 }
 ngb-rating {
   outline: none;
 }
 ngb-rating i {
   color: nb-theme(color-success);
   @include nb-for-theme(cosmic) {
     color: nb-theme(color-primary);
   }
 }
 @include media-breakpoint-down(xs) {
   button:not(.btn-icon) {
     padding: 0.75rem 1rem;
     font-size: 0.75rem;
   }
 }
}
// 
input.ng-touched.ng-invalid{
  border-color: #DC3445;
}
select {
  display: block;
  width: 50rem;
  font-family: sans-serif;
  
}
div.validation-error{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #DC3545;
  font-style: italic;
  font-weight: bold
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
  border-radius: 8px;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #DC3545; /* red */
  border-radius: 8px;
}
label{
  margin-bottom: 0%;
   float:left;
   white-space: nowrap;
}
div.label{
  margin-bottom: -1.5rem;
  margin-top: -0.7rem;

}
nb-tab {
  padding: nb-theme(padding);
}
div.row.input-group{
  border-radius: 8px;
} 
ng-select{
  width: 25rem;
}