<div class="col-md-12  " style="width:950px; height: 400px" >
  <form class="form-group" (ngSubmit)="addE()" autocomplete="off" #monFormulairej = ngForm>
<nb-card>
<nb-card-body>
      
                 
      <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="Nom">Nom :</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control"  required    [(ngModel)]="etudiant.nom"  required   name="nom" />
           
        </div>
         
      </div>
      <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3   input-group-lg">
          <label for="prenom">Prenom :</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control"   required  [(ngModel)]="etudiant.prenom"  required   name="prenom" />
           
        </div>
         
      </div>
                 
      <div   class="row full-name-inputs label nvForm">
        <div class="input-group col-md-3  input-group-lg">
          <label for="email"> email :</label>
        </div>
        <div    class="input-group col-md-6   input-group-sm">
          <input  type="text" class="form-control" required pattern="[a-zA-Z]([0-9]|[a-z]|[A-Z]|.|-)*@([a-zA-Z]|.)+\.(tn|com|fr|org)"    [(ngModel)]="etudiant.email"  required   name="email" />
           
        </div>
        <div class="input-group col-md-3  input-group-sm">
          <div class="input-group col-md-3  input-group-sm">
            <label for="date"> date :</label>
          </div>
          <input nbInput  class="form-control"    [nbDatepicker]="date"  [(ngModel)]="etudiant.date"  name="date"   />
          <nb-datepicker #date   ></nb-datepicker>
        </div>
         
      </div>
      <div class="input-group col-md-3  input-group-sm">
        <div class="input-group col-md-3  input-group-sm">
          <label for="classe"> classe </label>
        </div>
        <ng-select placeholder="Choisir..."
        [items]="classes" 
        bindLabel="label" 
        autofocus
        style="width: 150%" 
       [(ngModel)]="etudiant.classe"
       name="classe"
       required
        >
       </ng-select>  
      </div>
   
       
     
         
    
      
</nb-card-body>
</nb-card>
<div style="text-align:right;">
<button nbButton hero status="success" type="submit"  [disabled]=!monFormulairej.valid >{{A}}</button>
<button nbButton hero status="warning" (click)="fermer();" style="margin-left: 30px;">Return</button>
</div>
  </form>
</div>