<nb-card>
  <nb-card-body>
<div class="row">
<div class="col-md-12 col-lg-12 col-xxxl-6">
  <button (click)="openWindow()" class="btn btn-hero-success" nbButton style="width: 100px">+</button>
</div>
</div>

<nb-card>
<nb-card-header class="text-center" i18n>
  Liste Des Classes
</nb-card-header>

<nb-card-body>
  <ng2-smart-table class="full-width text-center"
  [settings]="settings"
  [source]="source"
  (deleteConfirm)="onDeleteConfirm($event)"
  (custom)="onCostum($event)">
  </ng2-smart-table>
</nb-card-body>
</nb-card>
</nb-card-body>
</nb-card>