<div class="col-md-12 col-lg-12" style="width:950px; height: 410px">
 
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
              <div class="row full-name-inputs">
                <div class="input-group col-md-2 col-lg-2 input-group-sm">
                  <input type="number" placeholder="id" class="form-control"
                         [(ngModel)]="classe.id" disabled/>
                </div>
                <div class="input-group col-md-6 col-lg-6 input-group-sm">
                  <input type="text" placeholder="Full Name" class="form-control"
                         [(ngModel)]="classe.fullname" disabled/>
                </div>
              <div class="input-group col-md-6 col-lg-6 input-group-sm">
                <input type="text" placeholder="Label" class="form-control"
                       [(ngModel)]="classe.label"disabled/>
              </div>
              
            </div>

            <div style="text-align:right;">
               
                <button nbButton hero status="warning" (click)="fermer()">Return</button>
              </div> 
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>    