:host /deep/ ng2-st-tbody-edit-delete {display: inline-block !important;
    height: 0 !important;
   }
   
   :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 30%;
    text-align: center;
   }
   
   :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5DCFE3;
   }
div.addbtn{
    margin: 0.2rem;
}